<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
            {% block title %}
                <title>Корреспонденция</title>
            {% endblock %}
            
        {% load staticfiles %}
        <!-- CSS-->
        {% block base_css %}
            <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
            <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
            <link href="{% static 'bootstrap/img/glyphicons-halflings.png' %}" rel="stylesheet">
            <link href="{% static 'bootstrap/img/glyphicons-halflings-white.png' %}" rel="stylesheet">
        
        <style>
            html, body {
            height: 100%;
            }
            footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
            }
            footer a {
            color: #999;
            align:right;
            }
            footer a:hover {
            color: #efefef;
            }
            .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
            }
            .hero-unit {
            margin-left:50px;
            margin-right:10px;
            padding:10px;
            }
            .push {
            height: 63px;
            }
            /* not required for sticky footer; just pushes hero down a bit */
            .wrapper > .container1 {
            padding-top: 60px;
            }
        </style>
        {% endblock %}
        
        {% block custom_css %}
        {% endblock %}
        
        {% block base_script %}
            <script src="{% static 'bootstrap/jquery/jquery.js' %}"></script>
            <script src="{% static 'bootstrap/jquery/custom.js' %}"></script>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock %}
        
        {% block custom_script %}
        {% endblock %}
        
    </head>
    <body>
    
    {% block head_menu %}
    <div class="navbar navbar navbar-fixed-top">
                <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a class="brand" href="/">Головна</a>
                        <div class="nav-collapse collapse">
                                
                               <div class="navbar-text pull-right">
                                {% if user.is_authenticated %}
                                    <div class="btn-group">
                                    <button class="btn btn-primary">{{ request.user.get_full_name }}</button>
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                        <li><a href="/edit_profile/{{request.user.id}}/">Налаштування профілю</a></li>
                                        <li><a href="/accounts/password_change/">Змінити пароль</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/accounts/logout/">Вийти</a></li>
                                    </ul>
                                    {% else %}
                                    <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Войти</a>
                                    {% endif %}
                                    </div>
                                    
                                </div>
                            
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
    
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Зареєструватися</h3>
            </div>
        <div class="modal-body">
        <p>
            <form action='/accounts/login/' method='post'>{% csrf_token %}
            <p class="auth">Логін:<br/>
            <input type="text" class="auth" name="username" value="" id="username" size="20" /><br/>
            <br>Пароль:<br/>
            <input type="password" class="auth" name="password" value="" id="password" size="20" /><br />
            <input type="submit" class="btn btn-primary" value="Войти" />
            <input type="hidden" name="next" value="{{request.path}}" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </form>
            
        </p>
        </div>
        
        </div>
        <!-- EndModal -->
    {% endblock %}
    
    <div class="wrapper">
        <div class="container1">
            {% block sidebar %}
            {% endblock %}
            
            {% block message %}
            {% endblock %}
            
            <header class="hero-unit">
                {% block metro %}
            
                {% endblock %}
                
                {% block content %}
                
                {% endblock %}
                
                {% block forms %}
                {% endblock %}
            
                {% block signature %}
                {% endblock %}
            </header>
        
        </div><!--end container-->

        <div class="push"><!--//--></div>
    </div><!--end wrapper-->

    {% block footer %}
    <footer>
        <div class="container1">
        <p><a href="http://lssmcc.lg.ua/">ДП "Луганськстандартметрологія"</a></p>
        </div>
    </footer>
    {% endblock %}
    </body>
</html>
