<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            
            {% block title %}
                    <title>Перегляд документу</title>
            {% endblock %}
            
             {% load staticfiles %}
            <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
            
            <style type="text/css" media="all">
            div.layout{
                top:50px;
                width: 50%;
                margin: 0 auto;
                text-align: justify;
                background: #fc0; /* Цвет фона */
                -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
                box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
                padding: 10px;
            }
            </style>
            
        </head>
        
        <body>
        <div  class='layout'>
        {% block preview %}
            
        {% endblock %}
        </div>
        </body>
            
