{% extends "base.html" %}
             {% load staticfiles %}
             
             {% block custom_css %}
               <link href="{% static 'bootmetro/bootmetro-tiles.css' %}" rel="stylesheet">
             {% endblock %}
        <body>
             {% block sidebar %}
             
             {% endblock %}
            
             {% block metro %}
             
                {% load in_group %}
                {% load incom_works %}
      <div class="row-fluid">
         <div class="metro span12">
            <div class="metro-sections">
   
               <div id="section1" class="metro-section tile-span-4">
   
                  <h2>Вхідна кореспонденція</h2>
                  
                  {% if not user.is_authenticated %}
                  <a class="tile wide imagetext bg-color-blueDark" href="/accounts/login/">
                  {% elif request.user.is_superuser or user|in_group:"Kanc" %}
                  <a class="tile wide imagetext bg-color-blueDark" href="/list_incoming/1/3/">
                  {% elif not request.user|incom_3_works %}
                  <a class="tile wide imagetext bg-color-blueDark" data-toggle="modal" href="/no_works/">
                  {% elif request.user|incom_3_works %}
                  <a class="tile wide imagetext bg-color-blueDark" href="/list_incoming/1/3/">
                  {% endif %}
                     <div class="image-wrapper">
                     </div>
                     <div class="column-text">
                        <div class="text4">Вхідна місцева</div>
                     </div>
                     <div class="app-label">Журнал</div>
                  </a>
                  {% if not user.is_authenticated %}
                  <a class="tile wide imagetext bg-color-greenDark" href="/accounts/login/">
                  {% elif request.user.is_superuser or user|in_group:"Kanc" %}
                  <a class="tile wide imagetext bg-color-greenDark" href="/list_incoming/1/4/">
                  {% elif not request.user|incom_4_works %}
                  <a class="tile wide imagetext bg-color-greenDark" data-toggle="modal" href="/no_works/">
                  {% elif request.user|incom_4_works %}
                  <a class="tile wide imagetext bg-color-greenDark" href="/list_incoming/1/4/">
                  {% endif %}
                     <div class="image-wrapper">
                     </div>
                     <div class="column-text">
                        <div class="text4">Вхідна іногородня</div>
                     </div>
                     <div class="app-label">Журнал</div>
                  </a>

                  
                  <a class="tile app bg-color-blue" href="/messages/">
                     <div class="image-wrapper">
                        <img src="{% static 'bootmetro/img/My Apps.png' %}" alt="" />
                     </div>
                     {% load postman_tags %}
                     
                     <span class="app-label">Пошта
                     <div id="postman_menu">{% postman_unread as unread_count %}
                     {% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}
                    </div>
                     </span>
                  </a>
                  
                  <a class="tile app bg-color-pink" href="http://envelopes.app.local">
                     <div class="image-wrapper">
                        <img src="{% static 'bootmetro/img/Coding app.png' %}" alt="" />
                     </div>
                     <span class="app-label">Конверты</span>
                  </a>
                  
                <div id="section1" class="metro-section tile-span-3">
                {% if request.user.is_superuser or user|in_group:"Kanc" %}
                  <a class="tile app bg-color-purple" href="/forms_incoming/">
                     <div class="image-wrapper">
                        <img src="{% static 'bootmetro/img/Devices.png' %}" alt="" />
                     </div>
                     <span class="app-label">Створити вхідну</span>
                  </a>
                {% endif %}
                
                {% if request.user.is_superuser or user|in_group:"Kanc" %}
                  <a class="tile app bg-color-orange" href="/by_all/">
                     <div class="image-wrapper">
                         <span class="icon icon"></span>
                        <img src="{% static 'bootmetro/img/Devices1.png' %}" alt="" />
                     </div>
                     <span class="app-label">Звіти</span>
                  </a>
                {% endif %}
                </div>
                
                
               </div>
   
               <div id="section2" class="metro-section tile-span-4">
   
                  <h2>Вихідна кореспонденція</h2>
   
                  <a class="tile wide imagetext bg-color-blue" href="/list_outgoing/2/3/">
                     <div class="image-wrapper">
                     </div>
                     <div class="column-text">
                        <div class="text">Вихідна місцева</div>
                     </div>
                     <span class="app-label">Журнал</span>
                  </a>
   
                  <a class="tile wide imagetext bg-color-orange" href="/list_outgoing/2/4/">
                     <div class="image-wrapper">
                     </div>
                     <div class="column-text">
                        <div class="text">Вихідна іногородня</div>
                     </div>
                     <span class="app-label">Журнал</span>
                  </a>
                
                {% if request.user.is_superuser %}
                  <a class="tile app bg-color-red" href="/admin/">
                     <div class="image-wrapper">
                        <img src="{% static 'bootmetro/img/RegEdit.png' %}" alt="" />
                     </div>
                     <span class="app-label">Адміністрування</span>
                  </a>
                {% endif %}
                
                <div id="section2" class="metro-section tile-span-3">
                {% if request.user.is_superuser or user|in_group:"Kanc" %}
                  <a class="tile app bg-color-yellow" href="/forms_outgoing/">
                     <div class="image-wrapper">
                        <img src="{% static 'bootmetro/img/Devices.png' %}" alt="" />
                     </div>
                     <span class="app-label">Створити вихідну</span>
                  </a>
                {% endif %}
                </div>
                
               </div>
            {% endblock %}
            
            
      </div><!--/span12-->
        
            
        </body>
</html>
