{% extends "base.html" %}

    {% load staticfiles %}
    {% block custom_script %}
        <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
        </script>
     {% endblock %}
     
    {% block custom_css %}
    <style>
        .forms {
        margin-left:150px;
        margin-right:50px;
        }
    </style>
    {% endblock %}
    
    <body>
        {% block forms %}
        <div class='forms'>
            <!--Входящая начало-->
            {% if object.cor_type == 1 %}
            <form action="/update/{{ object.id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row-fluid">
            <div class="span4">
                  <fieldset>
                    <legend>Номери</legend>
                    {{form.number.label_tag}}
                    {{ form.number}}
                    
                    {{ form.number_hide}}
                    
                    {% if form.datetime_doc.errors %}
                    <p style="color: red;">Пожалуйста введите дату в правильном формате</p>
                    {% endif %}
                    {{form.datetime_doc.label_tag}}
                    {{ form.datetime_doc}}
                    
                    
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                <fieldset>
                    <legend>Дати</legend>
                    {{form.number_organization.label_tag}}
                    {{ form.number_organization }}
                    {% if form.date_organization.errors %}
                    <p style="color: red;">Пожалуйста введите дату в правильном формате</p>
                    {% endif %}
                    {{form.date_organization.label_tag}}
                    {{ form.date_organization }}
                    
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                <fieldset>
                <legend>Вид документів</legend>
                {% if form.cor_type.errors %}
                <p style="color: red;">Пожалуйста введите тип корреспонденции</p>
                {% endif %}
                {{ form.cor_type }}
                
                {% if form.cor_identity.errors %}
                <p style="color: red;">Пожалуйста введите принадлежность корреспонденции</p>
                {% endif %}
                {{form.cor_identity.label_tag}} {{ form.cor_identity }}
                </fieldset>
                
            </div><!--/span-->
      </div><!--/row-->
        
      <div class="row-fluid">
            <div class="span4">
                <fieldset>
                <legend>Організація</legend>
                {% if form.name_pidpr.errors %}
                    <p style="color: red;">Пожалуйста введите предприятие</p>
                {% endif %}
                {% if object.name_pidpr == None %}
                {{form.new_pidpr.label_tag}}
                {{ form.new_pidpr }}
                {% else %}
                {{form.name_pidpr.label_tag}}
                {{ form.name_pidpr }}
                {% endif %}
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                
                <fieldset>
                <legend>Тема та позначки</legend>
                {{form.theme_cor.label_tag}}
                {{ form.theme_cor }}

                {{form.control.label_tag}}
                {{form.control}}
                
                {{form.control_types.label_tag}}
                {{form.control_types}}

                {{form.checked_email.label_tag}}
                {{form.checked_email}}
                
                {{form.OBJECT_DELETE.label_tag}}
                {{form.OBJECT_DELETE}}
                
                {{form.signature}}
                
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                <fieldset>
                <legend>Виконавці</legend>
                {% if form.performer.errors %}
                    <p style="color: red;">Пожалуйста введите исполнителя</p>
                {% endif %}
                {{form.performer.label_tag}}
                {{ form.performer }}
                
                </fieldset>
            </div><!--/span-->
      </div><!--/row-->
    
    </br>
    <input type="submit" class='btn btn-primary' value="Сохранить">
                
            </form>
            {% endif%} <!--Входящая конец-->
            
            
            <!--Исходящая начало-->
            {% if object.cor_type == 2 %}
            <form action="/update/{{ object.id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row-fluid">
            <div class="span4">
                  <fieldset>
                    <legend>Номери</legend>
                    {{form.number.label_tag}}
                    {{ form.number}}
                    
                    {{ form.number_hide}}
                    
                    {{form.number_department.label_tag}}
                    {{ form.number_department }}
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                <fieldset>
                    <legend>Дати</legend>
                    {% if form.datetime_doc.errors %}
                    <p style="color: red;">Пожалуйста введите дату в правильном формате</p>
                    {% endif %}
                    {{form.datetime_doc.label_tag}}
                    {{ form.datetime_doc}}
                    
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                <fieldset>
                <legend>Вид документу</legend>
                {% if form.cor_type.errors %}
                <p style="color: red;">Пожалуйста введите тип корреспонденции</p>
                {% endif %}
                {{ form.cor_type }}
                
                {% if form.cor_identity.errors %}
                <p style="color: red;">Пожалуйста введите принадлежность корреспонденции</p>
                {% endif %}
                {{form.cor_identity.label_tag}} {{ form.cor_identity }}
                </fieldset>
                
            </div><!--/span-->
      </div><!--/row-->
        
      <div class="row-fluid">
            <div class="span4">
                <fieldset>
                <legend>Найменування організації</legend>
                {% if form.name_pidpr.errors %}
                    <p style="color: red;">Пожалуйста введите предприятие</p>
                {% endif %}
                
                {% if object.name_pidpr == None %}
                {{form.new_pidpr.label_tag}}
                {{ form.new_pidpr }}
                {% else %}
                {{form.name_pidpr.label_tag}}
                {{ form.name_pidpr }}
                {% endif %}
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                
                <fieldset>
                <legend>Тема та позначки</legend>
                {{form.theme_cor.label_tag}}
                {{ form.theme_cor }}

                {{form.unchecked_control.label_tag}}
                {{form.unchecked_control}}

                {{form.signature}}
                
                </fieldset>
            </div><!--/span-->
            
      </div><!--/row-->
    
    </br>
    <input type="submit" class='btn btn-primary' value="Сохранить">
                
            </form>
            {% endif%} <!--Исходящая конец-->
            
        {% include 'autocomplete_light/static.html' %}
        {% endblock %}
        </div>
    </body>

