{% extends "base.html" %}

{% block custom_css %}
<style>
.sidebar {
float:left;
postion:relative;
height: 150px;
width:200px;
padding:10px;
}

.correspondence {
margin-top:-10px;
margin-left:200px;
margin-right:50px;
}
</style>

{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Всього</li>
        <li><a href="/by_all/">Взагалі всі</a></li>
        <li class="nav-header">Анульовані</li>
        <li><a href="/by_void/1/">Взагалі всі</a></li>
        <li><a href="/by_void/1/3/">Вхідна місцева</a></li>
        <li><a href="/by_void/1/4/">Вхідна іногородня</a></li>
        <li><a href="/by_void/2/3/">Вихідна місцева</a></li>
        <li><a href="/by_void/2/4/">Вихідна іногородня</a></li>
        </br>
        <li class="nav-header">Зареєстровано</li>
        <li><a href="/today/">За сьогодня</a></li>
        <li><a href="/yesterday/">За вчора</a></li>
        <li><a href="/week/">За неділю</a></li>
        {{today}}
        {% for item in today %}
            <li><a href="{% url 'by_date' year=item.year month=item.month %}">{{ item|date:'d.m.Y' }}</a></li>
        {% endfor %}
        {% for item in months_choices %}
            <li><a href="{% url 'by_date' year=item.year month=item.month %}">{{ item|date:'F Y' }}</a></li>
        {% endfor %}
        <li class="nav-header">Контроль</li>
        <li><a href="/by_control/un_control/">На не контролі</a></li>
        <li><a href="/by_control/control/">На контролі</a></li>
        <li><a href="/by_control/del_control/">Зняті з контролю</a></li>
    </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="correspondence">
    <h2>{{ title }} {{ filter_list|length }}</h2>
    <h3>{{ caption }}</h3>

<!-- анульовані-->
{% load in_group %}
<table class="table table-bordered">
            <tr class="warning" style='font-weight: bold; text-align:center;'>
              <td type='datetime_doc' class='date_doc'>Дата</td>
              <td type='number' class='number'>Номер</td>
              <td type='number_organization' class='number_organization'>Номер вихідного листа</td>
              <td type='cor_type' class='cor_type'>Тип кореспонденції</td>
              <td type='cor_identity' class='cor_identity'>Приналежність кореспонденції</td>
              <td type='name_pidpr' class='name_pidpr'>Звідки надійшов</td>
              <td type='theme_cor' class='theme_cor'>Стислий зміст</td>
              <td type='performer'  class='performer'>Виконувачі</td>
              <td type='control' class='control'>Відмітка про контроль</td>
              <td type='status' class='status'>Статус підпису</td>
               {% if request.user.is_superuser or user|in_group:"Kanc" %}
              <td type='view_documents' class='view_documents'>Редагування</td>
              {% endif %}
            </tr>

{% load endless %}

     {% paginate 5 filter_list %}
    {% for obj in filter_list %}
            <tr>
            <td>{{obj.datetime_doc|date:"d.m.Y"}}</td>
            <td>{{obj.number_full}}</td>
            <td>{{obj.number_organization}} {{obj.date_organization|date:"d.m.Y"}}</td>
            <td>{{obj.get_cor_type_display}}</td>
            <td>{{obj.get_cor_identity_display}}</td>
            <td>{% if obj.name_pidpr == None %}
                 {{obj.new_pidpr}}
                {% else %}
                {{obj.name_pidpr}}
                {% endif %}
            </td>
            <td>{{obj.theme_cor}}</td>
            <td>{% for item in obj.performer.all %}{{ item }}<br>{% endfor %}</td>
            {% if obj.control_types == 'control'  %}
            <td class= "control">На контроле</td>
            {% elif obj.control_types == 'del_control' %}
            <td class = 'del_control'>Знятий з контролю</td>
            {% elif obj.control_types == 'un_control' %}
            <td></td>
            {% endif %}
            {% if obj.signature == 'unsigned'  %}
            <td class= "uncollected">Не отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% elif obj.signature == 'partially_signed' %}
            <td class = 'partially_signed'>Частково отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% elif obj.signature == 'signed' %}
            <td class="approved">Отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% endif %}
            
            {% if request.user.is_superuser or user|in_group:"Kanc" %}
            <td>
                <p><a href="/edit/{{obj.pk}}" class="label label-info">Редагувати</a></p>
            </td>
            {% endif %}
        </tr>
    
    {% endfor %}
</table>
{% show_pages %}
</div>
{% endblock %}
