{% extends "base.html" %}

    {% load staticfiles %}
    {% block custom_script %}
        <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
        </script>
     {% endblock %}
     
    {% block custom_css %}
    <style>
        .forms {
        margin-left:150px;
        margin-right:50px;
        }
    </style>
    {% endblock %}

<body>
    
    
{% block forms %}
<div class='forms'>
<div class="alert alert-info">
<h3>Створення вхідної кореспонденції</h3>
</div>
    <form action="/create_incoming/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row-fluid">
            <div class="span4">
                  <fieldset>
                    <legend>Номер/дата листа підприємства</legend>
                    {{ form.number}}
                    
                    {{ form.number_hide}}
                    
                    {{form.number_organization.label_tag}}
                    {{ form.number_organization }}
                    
                    {{ form.number_department }}
                    
                    {% if form.date_organization.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Введіть дату у вірному форматі</strong>
                        </div>
                    {% endif %}
                    {{form.date_organization.label_tag}}
                    {{ form.date_organization }}
                    
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                <fieldset>
                    <legend>Дата реєстрації</legend>
                    {% if form.datetime_doc.errors %}
                        <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Введіть дату у вірному форматі</strong>
                        </div>
                    {% endif %}
                    {{form.datetime_doc.label_tag}}
                    {{ form.datetime_doc}}
                    
                    
                    
                </fieldset>
            </div><!--/span-->
            
            
      </div><!--/row-->
        
      <div class="row-fluid">
          <div class="span4">
                <fieldset>
                <legend>Вид документів</legend>
                {{ form.cor_type }}
                
                {% if form.cor_identity.errors %}
                    <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Введіть приналежність кореспонденції</strong>
                    </div>
                {% endif %}
                {{form.cor_identity.label_tag}} {{ form.cor_identity }}
                </fieldset>
                
            </div><!--/span-->
          
            <div class="span4">
                <fieldset>
                <legend>Виконавці</legend>
                {{ form.registrator }}
                
                {{ form.performer }}
                </fieldset>
            </div><!--/span-->
            
      </div><!--/row-->
      
      <div class="row-fluid">
          
            
            <div class="span4">
                
                <fieldset>
                <legend>Тема та позначки</legend>
                 {% if form.theme_cor.errors %}
                    <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Введіть тему документа</strong>
                    </div>
                {% endif %}
                
                {{form.theme_cor.label_tag}}
                {{ form.theme_cor }}

                {{form.control_types.label_tag}}
                {{form.control_types}}

                {{form.checked_email.label_tag}}
                {{form.checked_email}}
                
                {{form.signature}}
                </fieldset>
            </div><!--/span-->
            
             <div class="span4">
                <fieldset>
                <legend>Організація</legend>
                {% if form.name_pidpr.errors %}
                    <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Введіть підприємство</strong>
                    </div>
                {% endif %}
                <div class="accordion" id="accordion2">
                <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                {{form.name_pidpr.label_tag}}
                </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                {{ form.name_pidpr }}
                </div>
                </div>
                </div>
                <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Якщо нове підприємство &raquo;
                </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                {{form.new_pidpr.label_tag}}
                {{ form.new_pidpr }}
                </div>
                </div>
                </div>
                </div>
                </fieldset>
            </div><!--/span-->
            
      </div><!--/row-->
    
       
</br>
        <input type="submit" class='btn btn-primary' value="Сохранить">
    </form>
        {% include 'autocomplete_light/static.html' %}
{% endblock %}  
</div>
</body>

