{% extends "base.html" %}

    {% load staticfiles %}
    {% block custom_script %}
        <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
        </script>
     {% endblock %}
     
     {% block custom_css %}
    <style>
        .forms {
        margin-left:150px;
        margin-right:50px;
        }
    </style>
    {% endblock %}

<body>
    

{% block forms %}
<div class='forms'>
    <div class="alert alert-block">
        <h3>Створення вихідної кореспонденції</h3>
    </div>
    <form action="/create_outgoing/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row-fluid">
            <div class="span4">
                  <fieldset>
                    <legend>Номери</legend>
                    
                    {% if form.number_department.errors %}
                    <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Введіть номер відділу</strong>
                    </div>
                    {% endif %}
                    {{form.number_department.label_tag}}
                    {{ form.number_department }}
                </fieldset>
            </div><!--/span-->
            
            <div class="span4">
                <fieldset>
                    <legend>Дати</legend>
                    {% if form.datetime_doc.errors %}
                    <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Введіть дату у вірному форматі</strong>
                    </div>
                    {% endif %}
                    {{form.datetime_doc.label_tag}}
                    {{ form.datetime_doc}}
                    
                </fieldset>
            </div><!--/span-->
            
            
      </div><!--/row-->
        
      <div class="row-fluid">
          
          <div class="span4">
                <fieldset>
                <legend>Вид документів</legend>
                {{ form.cor_type }}
                
                {% if form.cor_identity.errors %}
                <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Введіть приналежність кореспонденції</strong>
                </div>
                {% endif %}
                {{form.cor_identity.label_tag}} {{ form.cor_identity }}
                </fieldset>
                
            </div><!--/span-->
          
          
            
            
            <div class="span4">
                
                <fieldset>
                <legend>Тема</legend>
                 {% if form.theme_cor.errors %}
                <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Введіть тему документа</strong>
                </div>
                {% endif %}
                
                {{form.theme_cor.label_tag}}
                {{ form.theme_cor }}

                {{form.signature}}
                {{form.control_types}}

                {{form.checked_email}}
                </fieldset>
            </div><!--/span-->
            
            
      </div><!--/row-->
      
      <div class="row-fluid">
            <div class="span4">
                <fieldset>
                <legend>Організація</legend>
                {% if form.name_pidpr.errors %}
                <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Введіть підприємство</strong>
                </div>
                {% endif %}
                <div class="accordion" id="accordion2">
                <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                {{form.name_pidpr.label_tag}}
                </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                {{ form.name_pidpr }}
                </div>
                </div>
                </div>
                <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <button class="btn btn-small btn-info" type="button">Якщо нове підприємство &raquo;</button>
                </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                {{form.new_pidpr.label_tag}}
                {{ form.new_pidpr }}
                </div>
                </div>
                </div>
                </div>
                </fieldset>
            </div><!--/span-->
            
      </div><!--/row-->
    
    </br>
        <input type="submit" class='btn btn-primary' value="Сохранить">
    </form>
        {% include 'autocomplete_light/static.html' %}
{% endblock %}  
</div>
</body>

