{% extends "base.html" %}

{% block custom_css %}

{% endblock %}

{% block content %}
     <div class="correspondence">
    <h2>{{ title }} {{list_outgoing|length}}</h2>

<!-- Входящая-->
{% load in_group %}
{% load endless %}

<!-- Исходящая-->
<table class="table table-bordered">
            <tr class="info" style='font-weight: bold; text-align:center;'>
              <td type='datetime_doc' class='date_doc'>Дата</td>
              <td type='number' class='number'>Номер</td>
              <td type='theme_cor' class='theme_cor'>Стислий зміст</td>
              <td type='number_department' class='number_department'>Номер віддлу</td>
              <td type='name_pidpr' class='name_pidpr'>Кому надсилається</td>
               {% if perms.datarecord.perms_cor_kanc %}
              <td type='view_documents' class='view_documents'>Редагування</td>
              {% endif %}
            </tr>
            
    {% paginate 5 list_outgoing %}
    {% for obj in list_outgoing %}
            <tr>
            <td>{{obj.datetime_doc|date:"d.m.Y"}}</td>
            <td>{{obj.number}}</td>
            <td>{{obj.theme_cor}}</td>
            <td>{{obj.number_dep}}</td>
            <td>
                {% if obj.name_pidpr == None %}
                 {{obj.new_pidpr}}
                {% else %}
                {{obj.name_pidpr}}
                {% endif %}
            </td>
            
            {% if perms.datarecord.perms_cor_kanc %}
            <td><a href="/edit/{{obj.pk}}" class="label label-info">Редагувати</a></td>
            {% endif %}
        </tr>
        
        
    {% endfor %}
</table>

{% show_pages %}

</div>
{% endblock %}
