{% extends "base.html" %}

{% block custom_css %}

{% endblock %}

{% block content %}
     <div class="correspondence">
    <h2>{{ title }} {{list_incoming|length}}</h2>

<!-- Входящая-->
{% load in_group %}
{% load endless %}

<table class="table table-bordered">
            <tr class="info" style='font-weight: bold; text-align:center;'>
              <td type='datetime_doc' class='date_doc'>Дата</td>
              <td type='number' class='number'>Номер</td>
              <td type='number_organization' class='number_organization'>Номер вихідного листа</td>
              <td type='name_pidpr' class='name_pidpr'>Звідки надійшов</td>
              <td type='theme_cor' class='theme_cor'>Стислий зміст</td>
              <td type='performer'  class='performer'>Виконувачі</td>
              <td type='control' class='control'>Відмітка про контроль</td>
              <td type='status' class='status'>Статус підпису</td>
              <td colspan ='2' type='view_documents' class='view_documents'>Дії</td>
            </tr>
            
    {% paginate 5 list_incoming %}
    
    {% for obj in list_incoming %}
             {% if obj.OBJECT_DELETE = False %}
            <tr>
            <td>{{obj.datetime_doc|date:"d.m.Y"}}</td>
            <td>{{obj.number_full}}</td>
            <td>{{obj.number_organization}} {{obj.date_organization|date:"d.m.Y"}}</td>
            <td>{% if obj.name_pidpr == None %}
                 {{obj.new_pidpr}}
                {% else %}
                {{obj.name_pidpr}}
                {% endif %}
            </td>
            <td>{{obj.theme_cor}}</td>
            <td>{% for item in obj.performer.all %}{{ item }}<br>{% endfor %}</td>
            {% if obj.control_types == 'control'  %}
            <td class= "control">На контроле</td>
            {% elif obj.control_types == 'del_control' %}
            <td class = 'del_control'>Знятий з контролю</td>
            {% elif obj.control_types == 'un_control' %}
            <td></td>
            {% endif %}
            {% if obj.signature == 'unsigned'  %}
            <td class= "uncollected">Не отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% elif obj.signature == 'partially_signed' %}
            <td class = 'partially_signed'>Отриманий не всіма виконавцями {% for item in obj.fio_signature.all %}<strong>{{ item }}</strong><br>{% endfor %}</td>
            {% elif obj.signature == 'signed' %}
            <td class="approved">Отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% endif %}
            
        {% if perms.datarecord.perms_cor_kanc and obj.signature == 'unsigned' %}
            <td>
                <p><a href="/edit/{{obj.pk}}" class="label label-info">Редагувати</a></p>
                <p><a href="/void/{{obj.pk}}" data-toggle="modal" class="label label-important">Анульовати</a></p>
            </td>
        {% elif perms.datarecord.perms_cor_kanc and obj.signature == 'partially_signed' %}
            <td>
                <p><a href="/edit/{{obj.pk}}" class="label label-info">Редагувати</a></p>
                <p><a href="/void/{{obj.pk}}" data-toggle="modal" class="label label-important">Анульовати</a></p>
            </td>
        {% elif perms.datarecord.perms_cor_kanc and obj.signature == 'signed' %}
        <td>Редагування неможливо</td>
        {% endif %}
        {% if perms.datarecord.perms_cor_performer and obj.signature == 'unsigned' %}
        <td><a href="/preview_signature/{{obj.pk}}" data-toggle="modal" class="label label-warning">Отримати документ</a></td>
        {% elif perms.datarecord.perms_cor_performer and obj.signature == 'partially_signed' %}
        <td><a href="/preview_signature/{{obj.pk}}" data-toggle="modal" class="label label-warning">Отримати документ</a></td>
        {% elif perms.datarecord.perms_cor_performer and obj.signature == 'signed' %}
         <td>Отримання неможливо</td>
            {% endif %}
        </tr>
        
        {% else %}
        <tr class="del_doc">
            <td>{{obj.datetime_doc|date:"d.m.Y"}}</td>
            <td>{{obj.number_full}}</br><strong>Анульований</strong></td>
            <td>{{obj.number_organization}} {{obj.date_organization|date:"d.m.Y"}}</td>
            <td>{% if obj.name_pidpr == None %}
                 {{obj.new_pidpr}}
                {% else %}
                {{obj.name_pidpr}}
                {% endif %}
            </td>
            <td>{{obj.theme_cor}}</td>
            <td>{% for item in obj.performer.all %}{{ item }}<br>{% endfor %}</td>
            {% if obj.control_types == 'control'  %}
            <td class= "control">На контроле</td>
            {% elif obj.control_types == 'del_control' %}
            <td class = 'del_control'>Знятий </td>
            {% elif obj.control_types == 'un_control' %}
            <td></td>
            {% endif %}
            {% if obj.signature == 'unsigned'  %}
            <td class= "uncollected">Не отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% elif obj.signature == 'partially_signed' %}
            <td class = 'partially_signed'>Частково отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% elif obj.signature == 'signed' %}
            <td class="approved">Отриманий {% for item in obj.fio_signature.all %}{{ item }}<br>{% endfor %}</td>
            {% endif %}
            
            {% if perms.datarecord.perms_cor_performer %}
            <td>Отримання неможливо</td>
            {% endif %}
            
            {% if perms.datarecord.perms_cor_kanc %}
            <td><a href="/edit/{{obj.pk}}" class="label label-info">Редагувати</a></td>
            {% endif %}
        </tr>
        {% endif %}
        
    {% endfor %}
</table>
<!-- Конец Входящая-->

{% show_pages %}

</div>
{% endblock %}
