{% extends "base_for_preview.html" %}
<div class="header">
<h3>Отримання документу</h3>
</div>
<div class="modal-body">
{% block preview %}

<form action="/signature_save/{{object.id}}/" method="post" enctype="multipart/form-data">{% csrf_token %}
<p>Документ <strong>№{{object.number}}</strong></p>
<p>Який надійшов від <strong>{{object.name_pidpr}}</strong></p>
<p>Зареєстрований <strong>{{ object.datetime_doc|date:"d.m.Y" }}</strong></p>
<p>з темою <strong>{{ object.theme_cor }}</strong></p>
<p>Виконувачі:<br><strong>{% for item in object.performer.all %}{{ item }}<br>{% endfor %}</strong></p>
<p>Статус документа: <strong>{{object.get_signature_display}}</strong></p>
<h5>Якщо ви отримали цей документ у паперовому вигляді натисніть "Отримати"</h5>
<p style = "width: 50%; margin: 0 auto; text-align: justify;">
<button class="btn btn-primary" type="submit">Отримати</button>
<a href='/' class="btn  btn-inverse" >На головну</a>
</p>
</form>

</div>
{% endblock %}
