<div class="modal-header">
<a class="close" data-dismiss="modal">&times;</a>
<h3>Отримання документу</h3>
</div>
<div class="modal-body">
{% block signature %}

<p>Вы збираєтесь отримати документ <strong>{{object.number}}</strong> під іменем <span class="label label-important">{{ request.user.get_full_name }}</span></p>
<p>Який надійшов від <strong>{{object.name_pidpr}}</strong></p>
<p>Зареєстрований <strong>{{ object.datetime_doc|date:"d.m.Y" }}</strong></p>
<p>з темою <strong>{{ object.theme_cor }}</strong></p>
<p>Виконувачі:<br><strong>{% for item in object.performer.all %}{{ item }}<br>{% endfor %}</strong></p>

{% endblock %}
<form action="/signature_save/{{object.id}}/" method="post" enctype="multipart/form-data">{% csrf_token %}
</form>
</div>
<div class="modal-footer">
<a class="btn btn-primary" onclick="$('.modal-body > form').submit();">Отримати</a>
<a class="btn" data-dismiss="modal">Закрити</a>
</div>

