
<body>
{% block content %}
<form action="/signature_save/" method="post" enctype="multipart/form-data">{% csrf_token %}
{% if results %}
{% for item in results %}
    <div>Вы збираєтесь підписати документ від імені</div>
    <input id='number' name='number' type='hidden' size=4 readonly value='{{ item.number }}'/>
    <input id='fio_signature' name='fio_signature' type='hidden' size=25 readonly value='{{ user.first_name }}'/>
    <div> {{ user.first_name }}</div>
    <div>Який надійшов від {{ item.name_pidpr }}</div>
    <div>Зареєстрований {{ item.date_doc|date:"d.m.Y" }}</div>
    <div>з темою {{ item.theme_cor }}</div>
    <div>Виконувачі: {% for item in item.executor.all %}{{ item }}<br>{% endfor %}</div>
    {% endfor %}
    {% endif %}
    <input type="submit" value="Отримати">
    </form>
<div>
<a href='javascript:close_window();'><a href="javascript:close_window();">Закрыть</a>
</div>


{% endblock %}
</body>
