{% extends "base.html" %}

{% block content %}
    <form action="/update_profile/{{ object.id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
<!--
        {{form.as_table}}
-->
            {{ form.last_login }}
            
            {{form.first_name.label_tag}}
            {{ form.first_name }}
            
            {{form.last_name.label_tag}}
            {{ form.last_name }}
            
            {{form.patronymic.label_tag}}
            {{ form.patronymic }}
            
            {{form.position.label_tag}}
            {{ form.position }}
            
            {{form.department.label_tag}}
            {{ form.department }}
            
            {{form.email.label_tag}}
            {{ form.email }}
            
            {{form.jabber_name.label_tag}}
            {{ form.jabber_name }}
            
            {{ form.username }}
            {{ form.is_superuser }}
            {{ form.is_staff }}
            {{ form.is_active }}
            {{ form.password }}
            {{ form.date_joined }}
        </br>
        <a href='javascript:history.go(-1)'class='btn btn-inverse'>Назад</a>
        <input type="submit" class='btn btn-primary' value="Сохранить">

    </form>
{% endblock %}
