<div class="modal-header">
<a class="close" data-dismiss="modal">&times;</a>
<h3>Увага</h3>
</div>
<div class="modal-body">
{% block signature %}

<div class="alert alert-warning">
<p>Ви вже отримали цей документ</p>
</div>
{% endblock %}
<form action="/signature_save/{{object.id}}/" method="post" enctype="multipart/form-data">{% csrf_token %}
</form>
</div>
<div class="modal-footer">
<a class="btn" data-dismiss="modal">Закрити</a>
</div>
