{% load static %}

<script src="{% static 'jquery/jquery.min.js' %}"></script>

<script type="text/javascript" src="{% static 'datepicker/jquery_picker.js' %}"></script>
<script type="text/javascript" src="{% static 'datepicker/prettify.js' %}"></script>
<script type="text/javascript" src="{% static 'datepicker/bootstrap-datepicker.js' %}"></script>

<link href="{% static 'datepicker/datepicker.css' %}" rel="stylesheet">
<link href="{% static 'datepicker/prettify.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/widget.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/addanother.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/text_widget.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/remote.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/style.css' %}" />
